*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #081423, #1d2f4a);
  color: white;
}
a {
  text-decoration: none;
}
.container {
  width: 1100px;
  margin: auto;
}

header {
  background: #0b1a2b;
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 152px;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
}
.logo-img {
  width: 100%;
  height: 100%;
  display: block;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a,
.change-lang__link {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(199, 199, 199, 1);
}
nav a:hover,
.change-lang__link:hover {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.hero {
  background: url("snicers nike.jpg") center/cover no-repeat;
  padding: 140px 0;
}

.hero h1 {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
}

.hero h2 {
  font-size: 36px;
  margin: 10px 0;
}

.hero p {
  max-width: 450px;
  margin-bottom: 25px;
}

.btn {
  background: linear-gradient(90deg, #9b5cff, #ff7ad9);
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.features {
  padding: 80px 0;
}

.features .container {
  display: flex;
  justify-content: space-between;
  border: 2px solid #9f5cff;
  border-radius: 10px;
  padding: 40px;
  background: linear-gradient(180deg, #0d1b2d, #1b2f4a);
}

.feature {
  text-align: center;
  width: 30%;
}

.feature img {
  width: 120px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
}

.reviews {
  padding: 80px 0;

  background: url("цветы 2 1.png") left bottom no-repeat;
}

.reviews h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.review-cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 292px;
  padding: 25px;
  gap: 40px;
  border-radius: 15px;
  color: white;
}
.card:nth-child(1) {
  background: linear-gradient(180deg, #4bc6ff, #b56bff);
  box-shadow:
    0 20px 40px rgba(79, 214, 255, 0.4),
    0 25px 60px rgba(66, 212, 255, 0.4);
}

.card:nth-child(2) {
  background: linear-gradient(180deg, #ff7ad9, #9b5cff);
  box-shadow:
    0 20px 40px rgba(159, 107, 255, 0.4),
    0 25px 60px rgba(159, 107, 255, 0.4);
}

.card:nth-child(3) {
  background: linear-gradient(180deg, #ffb347, #ff5f6d);
  box-shadow:
    0 25px 60px rgba(255, 140, 90, 0.4),
    0 20px 40px rgba(255, 120, 90, 0.4);
}

.card p {
  margin-bottom: 10px;
}

.card span {
  font-size: 12px;
  opacity: 0.8;
}

.card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.img-text-wrapper,
.img-card,
.img-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.contacts {
  padding: 90px 0;
  text-align: center;
  background-image:
    url("./fon4.jpg"), linear-gradient(180deg, #0c1a2b, #1b2f4a);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.input-confirm {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
input {
  width: 400px;
  padding: 12px;
  border-radius: 20px;
  border: none;
}

.email-class {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

label button {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button[type="submit"] {
  display: block;
  margin: 20px auto;
}

.footer {
  background: linear-gradient(180deg, #0c1a2b, #1b2f4a);
  color: white;
  padding: 50px 80px;
}



.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left p {
  margin: 8px 0;
  font-size: 18px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer-right__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  margin: 6px 0;
  color: rgba(255, 255, 255, 1);
}



.footer hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.foter-box__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 100px;
  height: 65px;
}
.footer-logo + span {
  margin-top: -15px;
}
