
.text-box h3:first-of-type {
    color: pink;
}


#greycol {
    color: grey;
}


.text-box div p {
    color: red;
}


.text-box > p:nth-of-type(2) {
    color: green;
}


.yellow {
    color: yellow;
}