* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #95e1d3;
}

.nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #999;
}

.nav .active {
    color: #f38181;
    border-bottom: 2px solid #f38181;
    padding-bottom: 5px;
}


.section {
    text-align: center;
    padding: 80px 60px;
}

.gray {
    background: #f8f8f8;
}

.subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.line {
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 20px auto;
}


.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.service {
    width: 30%;
    margin-bottom: 40px;
    text-align: left;
}

.service h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.service p {
    font-size: 14px;
    color: #999;
}


.desc {
    max-width: 700px;
    margin: 0 auto 50px;
    color: #999;
}

.team {
    display: flex;
    justify-content: space-between;
}

.member {
    width: 32%;
}

.member img {
    width: 100%;
    display: block;
}

.member h4 {
    margin-top: 15px;
    font-size: 14px;
}

.member span {
    font-size: 13px;
    color: #999;
}


.footer {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: #999;
    border-top: 1px solid #eee;
}