.bg-box {
  width: 100vw;
  height: 100vh;
  

  background:
    
    url("lamp-png-34914.jpg") repeat-x top center,

   
    url("58eb07b830eab15b56162788.png") repeat-y left center,

    
    url("3F3F.webp") repeat-y right center,

    
    url("green-png-44873.jpg") repeat-x bottom center,

    
    url("pole-zelen-trava-dom-derevya.webp") no-repeat center;

  background-size:
    50px,      
    30px,        
    30px,      
    120px,      
    400px 220px; 
  
   

    background-color: forestgreen;
}

